

@model ShopApplication.UI.Models.ProductListModel


    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">Meyve</li>
                <li class="list-group-item">Sebze</li>
                <li class="list-group-item">Süt ve Süt Ürünleri</li>
            </ul>
        </div>
  

        <div class="col-md-9">  

            <div class="row">

             @foreach(var product in Model.Products)
             {
                 <partial name="_product" for="@product"/> <!-- Partial (Method gibi bir kullanımı var) -->
             }

            </div>

        

        </div>
    </div>
    
